.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

form {
  width: 100%;
  max-width: 600px; /* Puedes ajustar este valor */
}
.espaciado {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

td {
  padding-right: 8px;
}
