mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
}

.example-container {
  height: calc(100vh - 64px); /* Ajusta según el alto de la toolbar */
}

mat-icon {
  margin-right: 8px;
}

a[mat-button] {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

.example-sidenav {
  background-color: rgb(14, 217, 231); /* fondo negro */
  color: white;            /* texto blanco por defecto */
  height: 100%;
  padding: 20px;
}


/* Opcional: mejora visual al pasar el mouse */
mat-nav-list a.mat-list-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Opcional: efecto hover para los ítems del menú */
.mat-nav-list a.mat-list-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

