mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
}

.example-container {
  height: calc(100vh - 64px); /* Ajusta según el alto de la toolbar */
}

mat-icon {
  margin-right: 8px;
}

a[mat-button] {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

.example-sidenav {
  background-color: rgba(130, 136, 136, 0.151);
  color: white;
  height: 100%;
  padding: 20px;
  width: 160px;   /* 👈 aquí ajustas el ancho */
}


.mat-nav-list .mat-list-item {
  color: white !important;         /* texto blanco */
}

.mat-nav-list .mat-list-item .mat-line {
  color: white !important;         /* asegura las líneas internas */
}

.mat-nav-list .mat-list-item:hover {
  background-color: rgba(255, 255, 255, 0.15);
  color: #fff !important;          /* sigue blanco al hover */
}

mat-icon {
  color: white;
}
::ng-deep .mat-nav-list .mat-list-item {
  color: white !important;
}



