table {
  width: 100%;
}

mat-card {
  margin: 20px;
  padding: 20px;
}

mat-paginator {
  margin-top: 10px;
}

td, th {
  text-align: center;
}
.toolbar {
  display: flex;
  justify-content: flex-end; /* empuja el contenido a la derecha */
  margin-bottom: 5px; /* separa del resto */
  margin-top: -80px;
  width: 100%;
}

.estado-proceso {
  color: green;
  font-weight: bold;
}

.estado-espera {
  color: orange;
  font-weight: bold;
}

.estado-finalizado {
  color: red;
  font-weight: bold;
}

table {
  width: 100%;
  margin-top: 10px;
}
